B{color:blue}
A:link{animation: rainbow 4s 1; text-decoration:none}
A:visited{color:blue; text-decoration:none}
A:active{color:blue; text-decoration:none}
A:hover{animation: rainbow 3s infinite;font-weight:1000}

@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: violet; }
}
